*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

/* header css start */
.header1{
    background: url(../images/banner/banner1.png) no-repeat;
     background-size: cover;
     width: 100%;
     height: 100vh;
}
.header1 .header2{
    margin: 15%;
     width: 30%;
     text-align: right;
     float: right;
}
.header2 h1{
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 400%;
}
.header2 p{
    padding: 20px 0px;
}
.header2 button {
    border: none;
    background: #f3583d;
    color: white;
    padding: 15px 20px;
    border-radius: 3px;
}
/* header css end */

/* section css start */
 .section1{
    display: flex;
    width: 100%;
 }
 .section2{
    padding: 100px 80px 80px 150px;
}
.section3{
    margin-top: 356px;
}
.section3-1{
    width: 65%;
}
.section3-1 h1{
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 280%;
}
.section3-1 p{
    padding: 15px 0px;
}
.section3-1 i{
    color: green;
}
.section3-1 span{
    padding-left: 5px;
    line-height: 30px;
}
/* section css end */

/* article css start */
 .article h1{
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 250%;
    text-align: center;
 }
 .article1{
    display: flex;
    margin:0px 200px;
 }
 .article1 h2{
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 150%;
    line-height: 2;
 }
 .article1 p{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
 }
 .article2 .article2-1{
    text-align: center;
    padding: 100px 80px 100px 0px ;
 }
 .article3 .article3-1{
    text-align: center;
    padding: 100px 80px;
 }
 .article4 .article4-1{
    text-align: center;
    padding: 100px 80px;
 }
 .article5 .article5-1{
    text-align: center;
    padding: 100px 0px 100px 80px;
 }
 .article1-1{
   
 }
/* article css end */
/* footer css start */
 footer{
    background: rgb(14, 13, 13);
    width: 100%;
    height: 550px;
 }
 .footer{
    display: flex;
 }
 .footer1{
    color: white;
    width: 500px;
    margin: 150px 250px;
 }
 .footer1 h2{
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 44px;
    margin-bottom: 2px; 
 }
 .footer1 p{
    padding: 8px 0px;
 }
 .footer1-1{
    margin-top: 10px;
 }
 .footer1-1 img{
    margin-right: 10px;
 }
 .footer2{
    margin-top: 180px;
 }
 .footer2 h3{
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    margin-bottom: 2px;
    color: white;
 }
 .footer2 input{
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    background: black;
    color: aliceblue;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px 70px 20px 20px;
    display: block;
    margin-top: 20px;
 }
 .footer2 button{
    border: none;
    color: #f3583d;
    padding: 20px 28px;
    border-radius: 10px;
    margin-top: 12px;
    font-size: 20px;
 }
/* footer css end */
/* header css start */
/* header css end */
